* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
footer {
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Nunito+Sans", sans-serif;
  padding: 60px 0px 60px 0px;
  font-size: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  color: rgb(115, 111, 111);
}
.first {
  width: 25%;
}
.first p {
  margin-top: 10px;
}
h2 {
  color: white;
}
p {
  margin-bottom: 3px;
}
.second {
  width: 20%;
  padding: ksakjdsa;
}

.third {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.forth {
  width: 20%;
}
